@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - SelectPdf Sample Test</h1>
    <p>Export to PDF example <a href="/home/report">click here</a>.</p>
</div>
